@charset "utf-8";

// responsive grid
@import "neat";

$grid: (
  columns: 1,
  gutter: 6rem,
);

$grid--tablet-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width: 900px)",
);

@import "bourbon";
@import "base/base"; // bitters


// goog fonts
@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis');

$grad1: hsl(340, 100%, 66%);
$grad2: hsl(310, 100%, 66%);

body {
    background: linear-gradient(90deg, $grad1, $grad2);
    text-align: center;
    font-size: 1em;
    margin: 0px;
    @include grid-media($grid--tablet-up) {
        overflow: hidden;

    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

.container {
    background-color: white;
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 0px;
    
    &::-webkit-scrollbar {
        display: none;
    }
    @include grid-media($grid--tablet-up) {
        max-height: 89%;
        // border: 1px solid black;
        margin: 10px;
        padding: 10px;
        overflow: scroll;
        width: 90vw;
    }
}


// site navigation
header {
    @include grid-container;

    nav {
        @include grid-column(12);
        ul {
            list-style: none;
            display: inline-block;
        }
        li  {
            display: inline-block;
            margin: 10px 10px 10px 0px;

            .current {
                &:hover {
                    background: inherit;
                    color: inherit;
                }
                // border: 1px solid black;
                font-weight: bold;
            }
        }
    }
}

.content {
    @include grid-container;

    margin-top: 20px;
    margin-bottom: 20px;

    .bio {
        @include grid-column(12);
        @include grid-media($grid--tablet-up) {
            @include grid-column(6);
        }
    }


    .links {
        @include grid-column(12);
        @include grid-media($grid--tablet-up) {
            @include grid-column(6);
        }
    }

    .item {
        @include grid-container;
        padding-bottom: 20px;
    }

    .portfolio-grid {
        img {
            @include grid-column(12);
            // height: 30%;
            padding-bottom: 10px;
            object-fit: scale-down;
            object-position: center;
            @include grid-media($grid--tablet-up) {
                @include grid-column(3);
                height: 35%;
                transition: all 0.64s linear;
                &:hover {
                    transform: rotate3d(0, 1, 2, 900deg);
                }
            }
        }

    }

    .project {
        margin-bottom: 10px;
        @include grid-column(6);
        height: 20%;
        // object-fit: cover;
        // object-position: center;
        background: linear-gradient(90deg, $grad1, $grad2);
        @include grid-media($grid--tablet-up) {
            @include grid-column(3);

        }

        position: relative;

        .label {
            position: absolute;
            bottom: 5;
            left: 5;
            color: white;
            text-shadow: 1px 1px 1px #000;
        }
    }

    .desc {
        text-align: left;
    }

    .vid {
        .desc {
            @include grid-column(12);        
            @include grid-media($grid--tablet-up) {
                @include grid-column(4);
            }
        }
        .player {
            @include grid-column(12);
            @include grid-media($grid--tablet-up) {
                @include grid-column(8);
            }

            iframe {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 320px;
            }
        }
    }
    .img {
        margin-bottom: 5px;
    }
}

#page_hello {
    color: white;
    a {
        color: white;
    }
    .container {
        background: rgba(0.1, 0.1, 0.1, 0.5);
    }

    canvas {
        background: white;
        position: absolute;
        top:0;
        left:0;
        z-index:-1;
        width:100%;
        height:100%;
    }
}

footer {
    position: fixed;
    left: 0px;
    bottom: 1%;
    height: 30px;
    width: 100%;
}

img {

    object-fit: cover;
    object-position: center;
    display: inline;
    margin: auto;

    @include grid-media($grid--tablet-up) {
        width: 100%;
        display: inline;
        margin-bottom: 5px;
    }
}

a {
    color: black;
    padding: 0.45em 0.7em;
    text-decoration: none;
    transition: all 0.1s linear;
    &:hover {
        font-weight: bold;
        transition: all 0.15s cubic;
        background: black;
        color: white;
    }
}

#sketch {
    z-index: -2;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    width:100%;
    height:100%;
}

