@charset "utf-8";

@import "bourbon";
@import "base/base"; // bitters
@import "grid-settings";
@import "neat";

$mobile: new-breakpoint(max-width 800px 8);

$grad1: hsl(210, 100%, 66%);
$grad2: hsl(180, 100%, 66%);

body {
    background: linear-gradient(90deg, $grad1, $grad2);
    text-align: center;
    font-size: 1em;
    overflow: hidden;
}

.container {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    overflow: scroll;
    max-height: 89%;

    width: 80%;
    @include media(max-width 668px) {
        width: 100%;
    }
    
    &::-webkit-scrollbar {
        display: none;
    }
}


header {
    @include outer-container;

    nav {
        @include span-columns(12);
        ul {
            list-style: none;
            display: inline-block;
        }
        li  {
            display: inline-block;
            margin: 10px 10px 10px 0px;
            a {
                padding: 0.45em 0.7em;
                text-decoration: none;
                transition: all 0.1s linear;
                &:hover {
                    transition: all 0.15s cubic;
                    background: black;
                    color: white;
                }
            }
            .current {
                &:hover {
                    background: inherit;
                    color: inherit;
                }
                // border: 1px solid black;
                font-weight: bold;
            }
        }
    }
}

.content {
    @include outer-container;

    margin-top: 20px;
    margin-bottom: 20px;

    .item {
        @include outer-container;
        margin: 20px 20px 50px 20px;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }

    .desc {
        text-align: left;
    }

    .vid {
        .desc {
            @include span-columns(4);
            @include media($mobile) {
                @include span-columns(8);        
            }
        }
        .player {
            @include span-columns(8);

            // @include media($mobile) {
            //     @include span-columns(8);        
            // }

            iframe {
                object-fit: cover;
                object-position: center;
                width: 100%;
                // height: 66%;
            }
        }
    }
    .img {
        // @include span-columns(2);
        margin-bottom: 5px;
    }
}

#page_hello {
    height: 70%;
    background: white url(https://jrsacocontent.s3.amazonaws.com/bg.png) no-repeat center center fixed;
    background-size: cover;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 1%;
    height: 30px;
    width: 100%;
}

img {

    object-fit: cover;
    object-position: center;
    display: inline;
    margin: auto;
}

img.gallery {
    width: 49%;
    height: 300px;

}

@include media(max-width 668px) {
    img {
        width: 100%;
        display: inline;
        margin-bottom: 5px;
    }
}

a {
    color: black;
    &:hover {
        font-weight: bold;
        // text-shadow: 0.5px 0px 0px white, -0.5px 0px 0px white;
    }
}

