@charset "utf-8";
@import "normalize";

$color1: rgba(0, 0, 0, 0.5);

body {
  background: #fff;
  text-align: center;
  font-family: "Anonymous Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

nav {
  margin-top: 20px;
}

nav > ul > li  {
  display: inline;
}

// first nav :p
nav ul li:nth-child(1) a {
  border: none;
}

a {
  border: 1px solid $color1;
  border-radius: 3px;
  padding: 0.75em 0.7em;
  color: rgba(0,0,0,0.5);
  text-decoration: none;
  transition: color 0.1s linear;
  &:hover {
    background: rgba(0,0,0,0.2);
    color: invert($color1);
    transition: all 0.15s linear;
  }
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: $color1;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.content {
  padding: 10px;
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}
