%html
  %head
    %title 
      ="#{current_page.data.title} - jrsa.co"

    / =stylesheet_link_tag '//fonts.googleapis.com/css?family=Anonymous+Pro', :async => true
    =stylesheet_link_tag :site, :async => true
    <meta name=viewport content="width=device-width, initial-scale=1">
  
  %body{id: ["page", current_page.data.title]}
    %header
      =partial :nav
    .container
      .content
        =yield
    %footer 
      %p copyright 2016 james anderson, all rights reserved
    =javascript_include_tag :all, :async => true
