%html
  %head
    %title 
      =current_page.data.title || "james anderson"

    =stylesheet_link_tag '//fonts.googleapis.com/css?family=Anonymous+Pro'
    =stylesheet_link_tag :site
    =javascript_include_tag :all
  
  %body
    =partial :nav
    .content
      =yield