%html
  %head
    %title jrsa.co // james anderson

    =stylesheet_link_tag :portfolio, :async => true
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %body{id: ["page", current_page.data.title]}
    .container
      =yield

      .information.description
        %a{href: "#"}
          %h1 james r. s. anderson
        %h2 programmer & artist    
        %p
          =link_to 'email: jrsa at jrsa dot co', 'mailto:jrsa@jrsa.co'
        %p
          =link_to '@jrsa on github', 'https://github.com/jrsa'