%nav
    %ul
        %li= link_to "jrsa.co", "/"
        %li= link_to "interactive/video", "video.html"
        %li= link_to "images", "imgs.html"
        %li= link_to "performances", "performance.html"
