---
title: "images"
columns: 4
folder: "profile2017/full"
---


-s3_imgs(current_page.data.folder).each_slice(current_page.data.columns) do |imgs|
    .portfolio-grid
        -imgs.each do |img|
            %a{href: img.public_url, target: "_blank"}
                %img{src: thumb_url(img.public_url)}


