
=partial(:goopsketch)

.item-noborder

-data.projects.projects.each do |project|
    .item{style: "background-image: url(#{project_thumb(project)});"}
        .description
            %h2
                ="#{project.title}, #{project.year}"
            %h3
                ="#{project.type}"

            - if not project.collaborators.nil?
                %p
                    =collaborators(project)

        .info
            =projectinfo_for(project)
            =projectlink_for(project)

.item-noborder
    .description.text
        %h1 this website
        %h2 2016-present
        %p
            this portfolio site was built using webGL, glsl shaders, the middleman
            static site generator, and AWS S3

        =partial(:bio)

=javascript_include_tag :index, :async => true
