-# canvas is fixed
-# empty 'item' is there as a spacer
%canvas#sketch
.item

-data.projects.projects.each do |project|
    %a{href: project.link, target: "_blank"}
        .item{style: "background-image: url(#{project_thumb(project)});"}
            .description
                %h1 
                    ="#{project.title}, #{project.year}"
                %h2
                    ="#{project.type}"

                - if not project.collaborators.nil?
                    %p
                        =collaborators(project)

%footer.item.description
    %p
        =link_to 'email: jrsa at jrsa dot co', 'mailto:jrsa@jrsa.co'
    %p
        =link_to '@jrsa on github', 'https://github.com/jrsa'



-# this includes the javascript code and shaders
=partial :goopsketch
