-# canvas is fixed
-# empty 'item' is there as a spacer
%canvas#sketch
.item

-data.projects.projects.each do |project|
    %a{href: project_link(project), target: "_blank"}
        .item{style: "background-image: url(#{project_thumb(project)});"}
            .description
                %h1 
                    ="#{project.title}, #{project.year}"
                %h2
                    ="#{project.type}"

                - if not project.collaborators.nil?
                    %p
                        =collaborators(project)

.item.description
    %p
        =link_to 'view source', 'https://github.com/jrsa/jrsaco'



-# this includes the javascript code and shaders
=partial :goopsketch
