=partial(:goopsketch)

.item-noborder

-data.projects.projects.each do |project|
    %a{href: project_link(project), target: "_blank"}
        .item{style: "background-image: url(#{project_thumb(project)});"}
            .description
                %h2 
                    ="#{project.title}, #{project.year}"
                %h3
                    ="#{project.type}"

                - if not project.collaborators.nil?
                    %p
                        =collaborators(project)

                - if not project.statement.nil?
                    .info
                        %p
                            =project.statement

.item-noborder
    .description
        %h1 this website
        %h2 2016-present
        .info
            %p 
                this portfolio site was built using webGL, glsl shaders, the middleman 
                static site generator, and AWS S3
