.item
    %h1
        ="#{project.title} "
    %h2
        ="#{project.year} #{collaborators(project)}"
    %p
        =project.statement

    - if not project.link.nil?
        %a{:href => project.link}
            view

    - if not project.vimeo.nil?
        =partial :vimeo_embed, :locals => {id: project.vimeo}


    -# -s3_imgs(project.title).each_with_index do |img, idx|
    -#     .item  
    -#         %a{href: img.public_url, target: "_blank"}
    -#             =image_tag img.public_url, class: 'gallery'
