---
title: "interactive/video"
---


.vid.item
  .desc
    %h1 lessForm, 2017 (with clay burton)
    %p
      music video for clay burton's song, lessForm. i used openFrameworks to post process footage captured by clay. 
  .player
    =partial :vimeo_embed, :locals => {id: 223358891}


.vid.item
  .desc
    %h1 trans laser vol. 28, 2017 (with scallion jake)
    %p
      analog processed video with scallion jake, soundtrack by me
  .player
    =partial :vimeo_embed, :locals => {id: 215382638}

.vid.item
  .desc
    %h1 untitled, 2016 (with megumi sabik)
    %p
      interactive video/browser art, shown at FOMO, an online exhibition
      =link_to 'source code on bitbucket.org', 'https://bitbucket.org/jrsa/fomo'
  %div
    / =link_to '(opens in new window)', '/fomo'
    %a{href: 'http://jrsa.co/fomo/', target: "_blank"}
      =image_tag "http://jrsacocontent.s3.amazonaws.com/fomo.jpg"

    
.vid.item
  .desc
    %h1 wimb, 2014, video with audio synthesis
  .player
    =partial :vimeo_embed, :locals => {id: 112002556}
